@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Cormorant Unicase';
    src: url('../fonts/CormorantUnicase-Regular.eot');
    src: url('../fonts/CormorantUnicase-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CormorantUnicase-Regular.woff2') format('woff2'),
        url('../fonts/CormorantUnicase-Regular.woff') format('woff'),
        url('../fonts/CormorantUnicase-Regular.ttf') format('truetype'),
        url('../fonts/CormorantUnicase-Regular.svg#CormorantUnicase-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Light.eot');
    src: url('../fonts/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rajdhani-Light.woff2') format('woff2'),
        url('../fonts/Rajdhani-Light.woff') format('woff'),
        url('../fonts/Rajdhani-Light.ttf') format('truetype'),
        url('../fonts/Rajdhani-Light.svg#Rajdhani-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
