@media (max-width: 1124px) {
      .image1 {
          display: none;
      }
      .image6 {
          display: none;
      }
      .image7 {
          display: none;
      }
      .path {
          display: none;
      }

      .footer-p {
          top: 900px;
      }
}

@media (max-width: 921px) {
      .image3 {
          width: 150px;
      }
      .image4 {
           width: 150px;
          left: 10px;
      }

}

@media (max-width: 913px) {
    .footer {
        padding-left: 300px;
    }
    .image10 {
        display: none;
    }
}

@media (max-width :800px) {
    .li-a {
        display: none;
    }
    .somedetails {
        font-size: 30px;
    }
    .image5 {
        width: 150px;
    }
    .image8 {
        width: 300px;
    }

}

@media (max-width: 686px) {
    .image3 {
        display: none;
    }
    .footer {
        padding-left: 100px;
    }
    .bgpath {
        display: none;
    }
    .sarah {
        font-size: 50px;
    }
    .proffesion {
        font-size: 50px;
    }
    .black-h5 {
        font-size: 50px;
    }

    .talktome {
        font-size: 50px;
    }
    .ideas {
        font-size: 50px;
    }
    .collab {
        font-size: 50px;
    }
    .footer-h3 {
        font-size: 50px;
    }

}

@media (max-width: 553px) {
    .image5 {
        display: none;
    }
    .image4 {
        display:none
    }
    .somedetails {
        font-size: 20px;
    }

    .sarah {
        font-size: 30px;
    }
    .proffesion {
        font-size: 30px;
    }
    .black-h5 {
        font-size: 30px;
    }
    .image2 {
        display: none;
    }
    .talktome {
        font-size: 30px;
    }
    .ideas {
        font-size: 30px;
    }
    .collab {
        font-size: 30px;
    }
    .enquire {
        font-size: 20px;
    }

    .divider3 {
        width: 200px;
    }
    .divider4 {
        width: 100px;
    }
    .footer-h3 {
        font-size: 30px;
    }
    .footer-p {
        left: 50px;

    }
}

/* second page responsive */
@media (max-width: 1267px) {
    .shop {
        flex-wrap: wrap;
    }

    .shopblazer {
        flex-wrap: wrap;
    }

    .bra-earring {
        flex-wrap: wrap;
    }
}

@media (max-width: 635px){
    .image11 {
        width: 350px;
    }

    .image12 {
        width: 350px;
        margin-top: 50px;
    }
    .image1-earring {
        width: 350px;
    }

    .image13 {
        width: 350px;
        height: 500px;
        margin-top: 50px;
    }
    .image15 {
        width: 350px;
        margin-top: 50px;
    }
}



@media (max-width: 544px) {
    .allcollection {
        font-size: 70px;
    }
    .shopby {
        font-size: 50px;
    }
    .findhere {
        font-size: 15px;
    }
}

@media (max-width: 414px) {
    .allcollection {
        font-size: 50px;
    }
    .shopby {
        font-size: 35px;
    }
}


@media (max-width: 652px) {
    #fname, #email{
        width: 150px;
    }

    #subject {
        width: 400px;
    }

    #message {
        width: 400px;
        height: 300px;
    }

    .send-button {
        width: 100px;
    }
    
    .forms-div {
        width: 460px;
    }
}


@media (max-width: 575px) {
    #fname, #email {
        width: 100px;
        height: 40px;
    }
    #subject {
        width: 300px;
        height: 40px;
    }

    #message {
        width: 300px;
        height: 200px;
    }
    .forms-div {
        width: 320px;
    }
    .send-button {
        width: 70px;
    }

    .image16 {
        width: 200px;
    }
    .image17 {
        width: 200px;
    }
    .image18 {
        width: 200px;
    }
}

@media (max-width:489px) {
    .image16 {
        width:150px
    }

    .image17 {
        width:150px
    }
}

@media (max-width:437px) {
    .image16 {
        display: none;
    }

    .image17 {
        display: none;
    }

    .image18 {
        display: none;
    }
    #fname, #email {
        width: 100px;
        height: 40px;
    }
    #subject {
        width: 200px;
        height: 40px;
    }

    #message {
        width: 200px;
        height: 200px;
    }

    #email {
        display: block;
        margin-top: 20px;
    }

    .forms-div {
        width: 230px;
    }
}