.bg-div {
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    background-image: url(../img/bgimage.jpg);
}


/* პირველი სექციის სტილები */
.section1-div {
    max-width: 1920px;
    width: 100%;
}

.about {
    margin: 0 auto;
    font-size: 14px;
    margin-top: 125px;
    margin-bottom: 125px;
    max-width: 100px;

}

.sarah {
   font-size: 115px; 
   margin: 0 auto;
   max-width:900px ;
   

}

.proffesion {
    font-size: 80px;
    max-width: 1200px;
    margin: 0 auto;

}

.more {
    font-size: 14px;
    color: #FA6A18;
    max-width: 40px;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 45px;
}

.divider {
    height: 50px;
    width: 2px;
    background-color: #FA6A18;
    margin: 0 auto;
}

/* text div */
.text {
    max-width: 357px;
    margin: 0 auto;
    margin-bottom: 130px;
    margin-top: 130px;
}

.p1 {
    margin-bottom: 30px;
}

.black-div {
    max-width: 1920px;
    width: 100%;
    background-color:black;
    height: 2189px;
}

.black-h4, .black-h5, .black-p {
    color: white;
}

.black-h5 {
    margin: 0 auto;
    font-size: 60px;
    max-width: 339px;
    width: 100%;
    padding-top: 237px;
    margin-bottom: 173px;
}

.black-h4 {
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
}

.black-p {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 113px;
}

.image1 {
    max-width: 300px;
    width: 100%;
    height: 450px;   
}

.image2{
    float: right;
    max-width: 220px;
    width: 100%;
}

.designer, .infleuncer, .photographer, .model {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}


/* მეორე სექცია */

