.bg-div {
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    background-image: url(../img/bgimage1.jpg);
}


/* პირველი სექციის სტილები */
.section1-div {
    max-width: 1920px;
    width: 100%;
}

.about {
    margin: 0 auto;
    font-size: 14px;
    margin-top: 125px;
    margin-bottom: 125px;
    max-width: 100px;

}

.sarah {
   font-size: 115px; 
   margin: 0 auto;
   max-width:900px ;
   

}

.proffesion {
    font-size: 80px;
    max-width: 1200px;
    margin: 0 auto;

}

.more {
    font-size: 14px;
    color: #FA6A18;
    max-width: 40px;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 45px;
}

.divider {
    height: 50px;
    width: 2px;
    background-color: #FA6A18;
    margin: 0 auto;
}

/* text div */
.text {
    max-width: 357px;
    margin: 0 auto;
    margin-bottom: 130px;
    margin-top: 130px;
}

.p1 {
    margin-bottom: 30px;
}

.black-div {
    max-width: 1920px;
    width: 100%;
    background-color:black;
    /* height: 2189px; */
}

.black-div2 {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.black-h5, .designer, .infleuncer, .photographer, .model {
    margin-top: 150px;
}

.black-h4 {
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
}

.black-h5 {
    padding-top: 200px;
    font-size: 60px;
    text-align: center;
}

.black-h4, .black-h5, .black-p {
    color: white;
}

/* white div */

.white-div {
    background-color: #E8E8E8;
    max-width: 1920px;
    width: 100%;
    /* height: 2000px; */
}

.image8 {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whitediv-text {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.networks {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.black-divider {
    max-width: 750px;
    width: 100%;
    background-color: black;
    height: 2px;
}

.black-divider2 {
    max-width: 750px;
    width: 100%;
    background-color: black;
    height: 2px;
    margin-top: 30px;

}



.instagram {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 35px;
}


.followers1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

.little-p {
    font-size: 14px;
    margin-top: 30px;
}

.youtube {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}

.enquire {
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
}

.enquire-p {
    margin-bottom: 30px;
}

.divider3 {
    max-width: 500px;
    width: 100%;
    height: 2px;
    background-color: #FA6A18;
    margin: 0 auto;
    margin-top: 30px;
}

.divider4 {
    max-width: 300px;
    width: 100%;
    height: 2px;
    background-color: #FA6A18;
    margin: 0 auto;
    margin-top: 20px;
}

.talk {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 250px;
}

.talktome {
    font-size: 90px;
}

.ideas, .collab {
    font-size:50px
}

.collab {
    margin-bottom: 70px;
}

.collab1 {
    font-size: 14px;
   margin-bottom: 30px;
}

.collab2 {
    font-size: 14px;
   
}

.textcollab {
    max-width: 300px ;
    margin:0 auto;
    margin-bottom: 100px;
}

/* second black div section */

.blackdiv-2 {
    background-color: black;
    height: 1200px;
}

.check {
    color: #FA6A18;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.checkp {
    letter-spacing: 25px;
}

.footer {
    width: 200px;
    width: 100%;
    padding-left: 600px;
}

.footer-h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 60px;
}

.footer-p {
    color: white;
   text-align: center;
   width: 300px;
   position: absolute;
   top: 850px;
}



/* test */

.black-div {
    position: relative;
}

.image1 {
    position: absolute;
    top: -150px;
    left: 50px;
}

.image2 {
    position: absolute;
    right: 30px;
    top: -100px;
}

.image3 {
    position: absolute;
    top: 300px;
    left: 20px;
}

.image4 {
    position: absolute;
    margin-top: 900px;
    left: 100px;
}

.image5 {
    position: absolute;
    top: 300px;
    right: 1px;
}

.image6 {
    position: absolute;
    right: 100px;
    top:550px;
}

.image7 {
    position: absolute;
    bottom: -200px;
    right: 100px;
}

.path {
    position: absolute;
    bottom: -150px;
    right: 100px;
}

.blackdiv-2 {
    position: relative;
}

.image9 {
    position: absolute;
    top: -100px;
    left: 100px;

}

.image10 {
    position: absolute;
    right: 400px;
    top: 200px;
}

.footer-class {
    position: absolute;
    top: 470px;
}