/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bg-div {
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    background-image: url(../img/bgimage1.jpg);
    background-size: cover;
    position: relative;
}
 

.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; 
    padding-top: 30px;
    letter-spacing: 7px;
}

.ul-li {
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display';
}

.li-a {
    color: white;
    text-decoration: none;
}

.aboutsarah {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: 'Playfair Display';
}

.somedetails {
    position: absolute;
    top: 200px;
    right: 100px;
    font-size: 50px;
    color: white;
    letter-spacing: 20px;
    font-family: 'Cormorant Unicase';
}

.arrowdiv {
    position: absolute;
    bottom: 250px;
    right: 120px;
    color: white;
    font-size: 20px;
    font-family: 'Rajdhani';
    letter-spacing: 15px;
}

.ellipse {
    position: absolute;
    bottom: 110px;
    right: 50px
}

.bgpath {
    position: absolute;
    left: 200px;
    top: 300px;
}
/* პირველი სექციის სტილები */
.section1-div {
    max-width: 1920px;
    width: 100%;
}

.about {
    margin: 0 auto;
    font-size: 14px;
    margin-top: 125px;
    margin-bottom: 125px;
    max-width: 100px;
    font-family: 'Playfair Display';

}

.sarah {
   font-size: 115px; 
   margin: 0 auto;
   max-width:900px ;
   font-family: 'Playfair Display';
   

}

.proffesion {
    font-size: 80px;
    max-width: 1200px;
    text-align: center;
    font-family: 'Playfair Display';

}

.more {
    font-size: 14px;
    color: #FA6A18;
    max-width: 40px;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 45px;
    font-family: 'Playfair Display';
}

.divider {
    height: 50px;
    width: 2px;
    background-color: #FA6A18;
    margin: 0 auto;
}

/* text div */
.text {
    max-width: 357px;
    margin: 0 auto;
    margin-bottom: 130px;
    margin-top: 130px;
    font-family: 'Cormorant Unicase';
}

.p1 {
    margin-bottom: 30px;
}

.black-div {
    max-width: 1920px;
    width: 100%;
    background-color:black;
    /* height: 2189px; */
}

.black-div2 {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.black-h5, .designer, .infleuncer, .photographer, .model {
    margin-top: 150px;
}

.black-h4 {
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
    font-family: 'Playfair Display';
}

.black-h5 {
    padding-top: 200px;
    font-size: 60px;
    text-align: center;
    font-family: 'Playfair Display';
}

.black-h4, .black-h5, .black-p {
    color: white;
}

.black-p {
    font-family: 'Cormorant Unicase';
}
/* white div */

.white-div {
    background-color: #E8E8E8;
    max-width: 1920px;
    width: 100%;
    /* height: 2000px; */
}

.image8 {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whitediv-text {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.networks {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Playfair Display';
}

.black-divider {
    max-width: 750px;
    width: 100%;
    background-color: black;
    height: 2px;
}

.black-divider2 {
    max-width: 750px;
    width: 100%;
    background-color: black;
    height: 2px;
    margin-top: 30px;

}



.instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    font-size: 35px;
    font-family: 'Playfair Display';
}


.followers1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Playfair Display';
}

.little-p {
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Playfair Display';
}

.youtube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Playfair Display';
}

.enquire {
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
    font-family: 'Playfair Display';
}

.enquire-p {
    margin-bottom: 30px;
    font-family: 'Playfair Display';
}

.divider3 {
    max-width: 500px;
    width: 100%;
    height: 2px;
    background-color: #FA6A18;
    margin: 0 auto;
    margin-top: 30px;
}

.divider4 {
    max-width: 300px;
    width: 100%;
    height: 2px;
    background-color: #FA6A18;
    margin: 0 auto;
    margin-top: 20px;
}

.talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 250px;
    font-family: 'Playfair Display';
}

.talktome {
    font-size: 90px;
    font-family: 'Playfair Display';
}

.ideas, .collab {
    font-family: 'Playfair Display';
    font-size:50px
}

.collab {
    margin-bottom: 70px;
}

.collab1 {
    font-size: 14px;
   margin-bottom: 30px;
   font-family: 'Playfair Display';
}

.collab2 {
    font-size: 14px;
   
}

.textcollab {
    max-width: 300px ;
    margin:0 auto;
    margin-bottom: 100px;
}

/* second black div section */

.blackdiv-2 {
    background-color: black;
    height: 1200px;
}

.check {
    color: #FA6A18;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.checkp {
    letter-spacing: 25px;
    font-family: 'Rajdhani';
}

.footer {
    width: 200px;
    width: 100%;
    padding-left: 600px;
}

.footer-h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 60px;
    font-family: 'Playfair Display';
}

.footer-p {
    color: white;
   text-align: center;
   width: 300px;
   position: absolute;
   top: 850px;
   font-family: 'Cormorant Unicase';
}



/* test */

.black-div {
    position: relative;
}

.image1 {
    position: absolute;
    top: -150px;
    left: 50px;
}

.image2 {
    position: absolute;
    right: 30px;
    top: -100px;
}

.image3 {
    position: absolute;
    top: 300px;
    left: 20px;
}

.image4 {
    position: absolute;
    margin-top: 900px;
    left: 100px;
}

.image5 {
    position: absolute;
    top: 300px;
    right: 1px;
}

.image6 {
    position: absolute;
    right: 100px;
    top:550px;
}

.image7 {
    position: absolute;
    bottom: -200px;
    right: 100px;
}

.path {
    position: absolute;
    bottom: -150px;
    right: 100px;
}

.blackdiv-2 {
    position: relative;
}

.image9 {
    position: absolute;
    top: -100px;
    left: 100px;

}

.image10 {
    position: absolute;
    right: 400px;
    top: 200px;
}

.footer-class {
    position: absolute;
    top: 470px;
}
 
.ul-li:hover {
    font-size: 30px;
}


/* shop page */

.header-bg2 {
    background-image: url(../img/bgimage2.jpg);
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    position: relative;
}

.allcollection {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 40%;
    left: 10%;
    font-family: 'Playfair Display';
}


.shop {
    max-width: 1920px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 100px;
}

.shopby {
    font-size:76px;
    text-decoration: underline;
    padding-top: 30px;
    font-family: 'Playfair Display';
}

.findhere {
    font-size: 20px;
    letter-spacing: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding: 30px;
    line-height: 2;
    font-family: 'Rajdhani';
}

.plus {
    height: 40px;
    width: 40px;
}

.shopblazer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 100px;
    font-family: 'Cormorant Unicase';
}

.image11, .image12, .image1-earring, .image15 {
    width: 600px;

}

.blazer-text, .glass-text, .bra-text, .earring-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}

.text-plus {
    width: 30px;
    height: 30px;
}

.shopblazer-h5, .bra-earring-h5 {
    font-size: 28px;
    margin-bottom: 10px;
}

.bra-earring {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'Cormorant Unicase';
}

.image13 {
    width: 600px;
    height: 762px ;
}



/* contact page */
.li-a-c {
    color: white;
}


#fname {
    width: 200px;
    height: 50px;
    margin-right: 100px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FA6A18 ;
    outline: none;
    font-size: 20px;
}

#email {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FA6A18 ;
    outline: none;
    font-size: 20px;
}


#subject {
    display: block;
    width: 500px;
    height: 50px;
    margin-top: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FA6A18 ;
    outline: none;
    font-size: 20px;
}
   


#message {
    display: block;
    width: 500px;
    height: 300px;
    margin-top: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FA6A18 ;
    outline: none;
    font-size: 20px;
}


.forms-div {
    margin-top: 100px;
    max-width: 550px;
    height: 895px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 100px; 
    position: absolute;
    z-index: 2;
}

.contact-body {
    position: relative;
    background-color: black;
}


.image16 {
    position: absolute;
    width: 300px;
    right: 10px;
    border-radius: 10px;
}

.image17 {
    position: absolute;
    border-radius: 20px;
    right: 280px;
    width: 300px;
    top: 120px;
    z-index: 1;
}
 .image18 {
     position: absolute;
     width: 500px;
     top: 450px;
     border-radius: 10px;
     right: 50px;
 }

 .send-button {
     width: 200px;
     height: 50px;
     /* background-color:#FA6A18  ;
     border-radius: 41% 59% 37% 63% / 46% 24% 76% 54% ; */
     margin: 0 auto;
     margin-top: 50px;
     position: relative;
 }

 .send {
      font-size: 20px;
      color: white;
    
 }


 #button {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
             transform: translate(-50%, -50%);

 }



 /* burger icon  */

 .container {
	position: relative;
    display: none;
 }


/* რაც გამოდის ბურგერ დაჭერის დროს - overlay */
.nav-bar {
	position: absolute;
	background-color: #122;
	top: 0;
	right: 100%;
	height: 100vh;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toggle {
	left: 0;
}
/* listebis gastilva */
.nav-list-item {
	text-align: center;
	padding: 10px 0;
}

.nav-link {
	color: #fff;
	font-size: 22px;
}

/* Burger icon styles */
.toggle-menu {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    padding: 2px 2px 2px 3px;
	cursor: pointer;
}
.line {
	width: 100%;
	height: 3px;
	background-color: white;
	transition: transform 0.2s ease-out;
}
.toggle .line1 {
	transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
	display: none;
}
.toggle .line3 {
	transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}

